<h1>LOGIN</h1>

<form action="/employee/login/create-session" method="POST">
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Your Password" required>
    <button>Login</button>
</form>
<a href="/employee/signup">Signup</a>