<h1>SIGNUP</h1>

<form action="/employee/signup/create" method="POST">
    <input type="text" name="name" placeholder="Your Name" required>
    <input type="email" name="email" placeholder="Your Email" required>
    <input type="password" name="password" placeholder="Your password" required>
    <button>Signup</button>
</form>

<a href="/employee/login">Login Here</a>